.marquee {
  border-bottom: 1px solid black;
  height: 60px;
  white-space: nowrap;
  overflow: hidden;
}
.marquee-container {
  animation: scroll 100s infinite linear;
}
.marquee .marquee-item {
  display: inline-block;
  margin-top: 17px;
  padding-left: 2%;
}
.marquee .stock-up {
  margin-left: 5px;
}

@keyframes scroll {
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}

.main-container {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 700px;
}

.search-container .header {
  text-align: center;
}
.search-container .search {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-container .form-control {
  border: 1px solid black;
  margin-top: 15px;
}


.link-margin {
  margin-right: 10px;
}

.list-group {
  margin-top: 20px;
}
.list-group .list-group-item {
  padding: 12px 5px 12px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-group .list-group-item .company-image {
  max-height: 50px;
}
.list-group .list-group-item .company-name {
  font-size: 20px;
  margin: 0 8px 0 8px;
}

.list-group .list-group-item .company-symbol {
  margin-right: 8px;
  color: gray;
}
.spinner-border {
  display: none;
  margin-left: 20px;
  margin-top: 100px;
}
.display-element {
  display: inline-block;
}
.hide-element {
  display: none;
}
.alert {
  margin-top: 20px;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.stock-up {
  color: #2ecc71;
}
.stock-down {
  color: #e74c3c;
}
